---
import MainPage from "../../layouts/MainPage.astro";

import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<MainPage title="Posts">
    <div class="flex flex-col">
        <div class="flex flex-row"></div>
        <div class="pt-3">
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li class="list-inside list-disc">
                                <a href={`/blog/${post.slug}/`}>
                                    {post.data.pubDate.toLocaleDateString("fr")}
                                    : {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </div>
    </div>
</MainPage>
