---
import { Image } from "astro:assets";
import logo from "../../public/logo.png";
import Socials from "../components/Socials.astro";
---

<div
    class="p-5 flex justify-between sm:items-start items-center flex-col sm:flex-row overflow-hidden h-full"
>
    <div class="flex flex-col pt-10 h-full">
        <Image
            src={logo}
            class="md:w-64 w-32 m-5 rounded-full shadow-iris bg-rose p-0.5"
            alt="Danymat Profile"
        />
        <div class="flex justify-center list-inside text-xl text-rose pt-2">
            <Socials />
        </div>
    </div>
    <div
        class="sm:w-4/6 ease-in duration-300 rounded flex flex-col h-full mr-4 shadow-overlay border border-overlay relative"
    >
        <div class="text-muted absolute -top-3 px-2 bg-base left-2 text-sm">
            Welcome !
        </div>
        <div
            class="text-pretty px-6 pt-10 text-md text-justify flex flex-col space-y-2"
        >
            <slot />
        </div>
    </div>
</div>
