---
import SocialsIcon from "../components/SocialsIcon.astro";
---

<div
    class="flex flex-row space-x-3 border-overlay border rounded-md px-1 py-2 relative group"
>
    <div
        class="text-muted absolute -top-3 px-2 bg-transparent left-2 text-sm"
    >
        Socials
    </div>
    <SocialsIcon
        href="https://linkedin.com/in/danielmathiot"
        icon="mdi:linkedin"
    />
    <SocialsIcon href="https://infosec.exchange/@danymat" icon="mdi:mastodon" />
    <SocialsIcon href="https://github.com/danymat" icon="mdi:github-face" />
</div>
