---
import TerminalLine from "./TerminalLine.astro";
---

<div
    class="text-pretty px-6 pt-10 text-md text-justify flex flex-col space-y-2"
>
    <TerminalLine title="whoami" class="bg-red-500">Daniel Mathiot</TerminalLine>

    <TerminalLine title="cat blog_content.txt">
        <div>Currently a Cybersecurity Engineer @3DS.com</div>
        <div class="hover:text-red-400">Blog</div>
        <div class="hover:text-red-400">CV.pdf</div>
        <div class="hover:text-red-400">Blog</div>
        <ul class="list-disc list-inside">
            <li>faire whoami (Home)</li>
            <li>choose cool font: terminal + other (Geist)</li>
            <li>faire Posts (blog)</li>
            <li>faire portfolio (blog)</li>
            <li>CV</li>
        </ul>
    </TerminalLine>
</div>
